<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= note.title %></title>
</head>
<body>
    <h1><%= note.title %></h1>
    <p><%= note.content %></p>
    <a href="/">Ana Sayfaya Dön</a><br><a href="/notes/edit/<%= note.id %>">Düzenle</a>
</body>
</html>
